button#start {
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border: 0;
    border-radius: 8px;
}

button#reset{
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border: 0;
    border-radius: 8px;
}