p#game-over {
    text-align: center;
    padding: 0;
}
.show-score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}